* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo de la página */
    text-align: center;
}

header {
    background-color: #7D3C98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #D2B4DE;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #B799D4;
}

.message-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 30px;
}

.logo .ez {
    color: #7D3C98;
}

.logo .vet {
    color: #1ABC9C;
}

.message-box {
    background-color: #E0E0E0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.message-box p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #333;
}

.btn-entendido {
    padding: 10px 20px;
    background-color: #7D3C98;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-entendido:hover {
    background-color: #9B59B6;
}

footer {
    background-color: #7D3C98;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
